/* Introduction section decors */
#top-windmill {      /* windmill decor */
    content: "";
    position: absolute;
    left: 41rem;
    top: -7.75rem;
    animation: spin 4s ease-in-out;
}

#top-windmill:hover {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#bottom-windmill {
    position: absolute;
    height: 12rem;
    width: auto;
    transform: rotate(45deg);
    right: -1rem;
    top: -6.65rem;
}
