html {
    font-family: 'Cabin Sketch', cursive;
    color: white;
    text-align: center;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/*************** header starts here ***************/
header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://res.cloudinary.com/doaazgsrk/image/upload/v1594832278/Portfolio/header_background_isdj0u.jpg');
    background-size: cover;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    content: "";
    font-size: 1.5rem;
    margin-right: 1rem;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

nav a {
    text-decoration: none;
    font-family: 'Cabin Sketch', cursive;
    color: white;
}

.introduction {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    line-height: 5rem;
    border: 0.2rem double white;
    z-index: 1;
}

.introduction h1 {
    margin: 0;
    font-size: 2.5rem;
}

#job-title {
    font-size: 3.5rem;
    z-index: 2;
    color: orange;
}

.linkedin_github {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.linkedin_github img {
    filter: brightness(0%) invert(1);
    height: 3.5rem;
    width: auto;
    margin-left: 1.5rem;
}

nav li:hover, .linkedin_github img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 950px) {
    #top-windmill, #bottom-windmill {
        display: none;
    }
}

@media only screen and (max-width: 570px) {
    .introduction {
        line-height: 2rem;
        border: 0.1rem solid white;
    }

    .introduction h1 {
        font-size: 1rem;
    }
    
    #job-title {
        font-size: 2rem;
    }

    nav ul {
        justify-content: center;
    }

    nav li {
        font-size: 1rem;
        margin: 0 0.25rem;
        border-radius: 0;
    }

    .linkedin_github {
        justify-content: center;
    }

    .linkedin_github img {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
}

/*************** main starts here ***************/
main {
    position: relative;
    background-image: url('https://res.cloudinary.com/doaazgsrk/image/upload/v1594832064/Portfolio/main_background_uut6ag.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    color: black;
    font-size: 1.5rem;
}

/* about section starts here */
#about {
    width: 50%;
}

h2 {      
    font-size: 3rem;
}

#about p {
    line-height: 2rem;
    text-align: left;
}

#my_photo {
    height: 22rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: auto;
    float: right;
}

hr {
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top: 0.1rem solid black;
}

@media only screen and (max-width: 750px) {
    #my_photo {
        width: 100%;
        height: auto;
    }

    #about {
        width: 85%;
    }

    #about p {
        text-align: center;
    }
}  

/* technology section starts here */
.logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 32rem;
    width: 35vw;
}

#technology a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

#technology a:hover {
    transform: scale(1.1);
    color: white;
}

#technology p {
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

.java_logo {
    position: relative;
    bottom: 0.5rem;
}

.js_logo {
    position: relative;
    top: 0.3rem;
}

.html, .css, .js, .python, .java, .git{
    height: 5.25rem;
    width: auto;
    filter: brightness(0%);
}

.python, .java {
    position: relative;
    top: 0.4rem;
    height: 6rem;
    width: auto;
}

#technology a:hover > .html, #technology a:hover > .css,
#technology a:hover > .js, #technology a:hover > .python,
#technology a:hover > .java, #technology a:hover > .git {
    filter: none;
}

@media only screen and (max-width: 960px) {
    .logos {
        align-content: center;
        width: 100vw;
    }
    
    .logos a {
        margin: 0 1.5rem;
    }
} 

/* project section starts here */
#project .project_container {
    position: relative;
    margin-bottom: 10rem;
    background-image: url('https://res.cloudinary.com/doaazgsrk/image/upload/v1594869757/Portfolio/project_background_cjx7ig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    width: 800px;
    min-width: 100%;
    height: 700px;
    box-shadow: 0.4375rem 0.8125rem 0.8125rem -0.25rem rgba(0,0,0,0.56), 0.875rem 1.125rem 2.375rem -0.125rem rgba(0,0,0,0.5);
}

#project .thumbnail {
    display: none;
    width: 100%;
    margin: 0;
}

#project video {
    width: 95%;
    margin-top: 3%;
    border: 0.1rem solid white;
}

#project video:hover {
    filter: grayscale(80%) brightness(60%);
}

#project .duct_tape {
    position: absolute;
    left: 40%;
    top: -11%;
    height: auto;
    width: 20%;
    transform: rotate(-43deg);
    filter: grayscale(60%) brightness(60%) saturate(10%);
}

#project .project_info {
    height: 266.5px;
    overflow: scroll;
}

h3 {
    font-size: 2.5rem;
    text-align: left;
    margin: 0.5rem 1rem;
    margin-bottom: 0.3rem;
}

#project p {
    font-size: 1.25rem;
    text-align: left;
    margin: 0 1rem;
    font-weight: 600;
}

#project .project_description {
    margin-top: 0.5rem;
    font-weight: initial;
    line-height: 1.75rem;
}

#project i {
    font-size: 1.7rem;
}

@media only screen and (max-width: 425px) {
    #project .thumbnail {
        display: initial;
    }

    #project video {
        display: none;
    }

    #project .project_container {
        margin-bottom: 4rem;
        box-shadow: 0.6rem 0.8125rem 0.9rem -0.25rem rgba(0,0,0,0.56);
    }
} 

@media only screen and (max-width: 800px) {
    #project .project_container {
        width: 80vw;
        height: auto;
    }

    #project .duct_tape {
        display: none;
    }
    
    #project video {
        width: 100%;
        border: none;
        margin: 0;
    }
} 

/*************** footer starts here ***************/
footer {
    background-image: url('https://res.cloudinary.com/doaazgsrk/image/upload/v1594832278/Portfolio/header_background_isdj0u.jpg');
    background-size: cover;
    height: 40rem;
}

#contact {
    display: grid;
    grid-template-columns: 25vw 55vw;
    grid-template-rows: 7rem 7rem 15rem;
    grid-template-areas: "contact name"
                         "contact email"
                         "contact message";
    justify-content: center;
    align-content: center;
    height: 40rem;
    width: 100vw;
}

.contact_guide {
    grid-area: contact;
    border: 0.2rem double white;
}