html {
    font-family: 'Cabin Sketch', cursive;
    color: white;
    background-image: url('/Users/benphan/Downloads/camila-akzo-nMf9L8B-CeY-unsplash.jpg');
    background-size: 100% auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* header starts here */
header {
    height: 100vh;
    display: flex;
    align-items: center;
}

.introduction {
    position: relative;
    border: 0.2rem double white;
    width: 40rem;
    z-index: 10;
}

.clouds {
    position: fixed;
    height: 0rem;
    z-index: 0;
  }

.clouds img {
    width: 10rem;
    height: auto;
}
  
.firstCloud {
    position: absolute;
    left: -60rem;
    top: 100px;
    animation: move 20s linear infinite;
    width: 100px;
}
  
  @keyframes move {
    100% {
        left: 50vw;
    }
  }